/* Configuracoes gerais */
*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: #FEFAE0;
}

*::selection{
    background-color: #DDA15E;
    color: #FEFAE0;
}

/* =========== Header =========== */
.navbar{
    user-select: none;
}

.navbar-brand{
    font-weight: bold;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.carousel-item img{
    height: 550px;
    object-fit: cover;
}



/* =========== Local =========== */
.local{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    transition: 0.5s;
}

.local img{
    width: 45%;
    height: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.local h3{
    font-weight: bolder;
    margin-bottom: 20px;
    color: #283618;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.text-area{
    width: 50%;
    font-size: 17px;
}

@media(max-width: 768px){
    .local p{
        font-size: 13px;
    }
}

/* Mobile Layout - Carrossel e Local*/ 
@media(max-width: 425px){
    .carousel-indicators button{
        display: none;
    }

    .carousel-item img{
        height: 350px;
    }

    .local{
        flex-direction: column;
        padding: 35px 5px;
        border-radius: 15px;
        margin-bottom: 30px;
    }

    .local img{
        width: 75%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    }

    .local h3{
        text-align: center;
    }

    .text-area{
        width: 75%;
        margin-top: 20px;
        align-items: center;
        justify-content: space-between;
    }
}

/* =========== História =========== */
.historia{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #dda25ec9;
    color: #FEFAE0;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.hist-text{
    width: 57%;
    font-size: 18px;
    order: 2;
}

.himg{
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.7);
}

.himg1{
    width: 40%;
    height: auto;
}

.himg2{
    width: 40%;
    order: 3;
}

@media(max-width:425px){
    .hist{
        flex-direction: column;
        align-items: center;
    }

    .himg2{
        order: 1;
    }

    .himg{
        width: 100%;
    }

    .hist-text{
        width: 100%;
        padding: 10px;
    }
}
/* =========== Cards =========== */

/* Título*/
.titulo{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #283618;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
/* CARDS */
#card{
    background-color: #DDA15E;
    color: rgb(241, 232, 232);
    font-family: 'Comfortaa', cursive;
    text-align: justify;
}

#card::selection{
    background-color: #FEFAE0;
    color: #DDA15E;
}

#card h5{
    font-weight: bolder;
}

/* RODAPÉ */
.rodape{
    background-color: #606C38;
    text-align: center;
    font-size:8pt;
    font-weight:bold;
    width:100%;
    height: 50px;
    color:#fffafa;

    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape p{
    margin-top: 10px;
    user-select: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}